/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@0,600;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(82,127,131,1) 52%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    background-color: rgb(49, 47, 47);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.7), 0px 0px 20px rgb(0,0,0,0.7);
    font-size: 20px;
    position: relative;
}
.clock ul li {
    list-style-type: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}
.clock ul li span{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block; 
}
.clock::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}

.needle{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.needle span{
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    position: absolute;
    border-radius: 5px;
}
